<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="pxdraft">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="Muhammad Ranju- Portfolio Template">
    <meta name="description" content="Muhammad Ranju- Portfolio Template">
    <!-- title -->
    <title>Muhammad Ranju- Portfolio Template</title>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico">
    <!-- theme css -->
    <link href="assets/css/style.css" rel="stylesheet">
</head>
<!-- Body Start -->

<body>
    <!-- Header Top -->
    <div class="header-top-fixed one-page-nav">
        <div class="container">
            <!-- Brand -->
            <div class="logo">
                <a class="navbar-brand" data-scroll-nav="0">
                    <img class="logo-dark" title="" alt="" src="assets/img/logo.svg">
                    <img class="logo-light" title="" alt="" src="assets/img/logo-light.svg">
                </a>
            </div>
            <!-- / -->
            <%-include('./partials/nav/nav.ejs') %>
            <!-- Top Menu -->
            <div class="ms-auto d-flex">
                <div class="theme-btn dropdown">
                    <button class="btn dropdown-toggle" id="bd-theme" type="button" aria-expanded="false"
                        data-bs-toggle="dropdown" data-bs-display="static">
                        <span class="bi my-1 theme-icon-active">
                            <i class="bi-circle-half"></i>
                        </span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="bd-theme"
                        style="--bs-dropdown-min-width: 8rem;">
                        <li>
                            <button type="button" class="dropdown-item d-flex align-items-center"
                                data-bs-theme-value="light">
                                <span class="bi me-2 opacity-50 theme-icon">
                                    <i class="bi-sun-fill"></i>
                                </span>
                                Light
                                <span class="bi ms-auto d-none">
                                    <i class="bi-check2"></i>
                                </span>
                            </button>
                        </li>
                        <li>
                            <button type="button" class="dropdown-item d-flex align-items-center"
                                data-bs-theme-value="dark">
                                <span class="bi me-2 opacity-50 theme-icon">
                                    <i class="bi-moon-stars-fill"></i>
                                </span>
                                Dark
                                <span class="bi ms-auto d-none">
                                    <i class="bi-check2"></i>
                                </span>
                            </button>
                        </li>
                        <li>
                            <button type="button" class="dropdown-item d-flex align-items-center active"
                                data-bs-theme-value="auto">
                                <span class="bi me-2 opacity-50 theme-icon">
                                    <i class="bi-circle-half"></i>
                                </span>
                                Auto
                                <span class="bi ms-auto d-none">
                                    <i class="bi-check2"></i>
                                </span>
                            </button>
                        </li>
                    </ul>
                </div>
                <button class="toggler-menu d-lg-none">
                    <span></span>
                </button>
            </div>
            <!-- / -->
        </div>
    </div>
    <!-- End Header Top -->
    <!-- Main -->
    <main class="wrapper">
        <!-- Home -->
        <section id="home" data-scroll-index="0" class="home-section gray-bg">
            <div class="container">
                <div class="home-section-in">
                    <div class="row position-relative">
                        <div class="col-lg-8">
                            <div class="hs-left">
                                <h1>
                                    <span>Muhammad</span> <br>Ranju
                                </h1>
                                <h2>I'm a JavaScript Developer at Node.js</h2>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="hs-right">
                                <p>Born in 2000, AB type living in USA. We provide on-screen design for websites and
                                    apps, as well as front-end implementation. We will continue to pursue a wide range
                                    of expressions and better code by pursuing our “likes”.</p>
                                <div class="btn-bar">
                                    <a class="px-btn" href="#">Download Resume <i class="bi-download"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="bg-icon">
                            <svg width="192" height="116" viewBox="0 0 192 116" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M132.852 76.4413C132.737 65.2991 137.871 56.6372 144.604 48.7282C148.356 44.2945 152.573 40.3507 157.661 37.4319C159.802 36.1834 161.975 35.0987 164.389 34.5797C165.864 34.3039 167.325 34.1327 168.847 34.2893C171.683 34.5737 173.602 36.4885 174.227 39.2898C174.624 41.048 174.424 42.8837 174.029 44.5861C173.298 47.573 172.014 50.324 170.431 52.9273C166.288 59.8092 160.632 65.3114 154.121 70.057C149.751 73.1811 145.111 75.9485 140.274 78.2097C139.932 78.3755 139.694 78.5556 139.292 78.7665C139.721 81.0615 140.894 82.98 142.231 84.8678C147.685 92.8065 154.489 99.4408 162.481 104.801C165.115 106.549 167.823 108.146 170.664 109.549C176.077 112.372 181.947 113.82 188.003 113.909C189.063 113.949 190.122 113.989 191.226 114.088C191.331 114.102 191.421 114.221 191.646 114.518C191.14 114.715 190.797 114.88 190.41 114.987C183.72 116.407 177.169 116.036 170.655 113.86C162.572 111.096 155.464 106.656 149.157 101.048C143.988 96.4494 139.414 91.4002 135.924 85.4358C135.142 84.1568 134.493 82.6832 133.74 81.1953C133.353 81.3016 132.906 81.4529 132.459 81.6043C125.834 84.0981 119.161 86.1595 112.155 87.1634C106.506 87.9818 100.884 88.2182 95.1964 87.3809C92.1212 86.9038 89.0893 86.1132 86.2933 84.7695C79.161 81.2842 76.134 75.4368 77.5278 67.6435C77.5854 67.2256 77.643 66.8076 77.7294 66.1807C76.8954 66.4384 76.2847 66.6204 75.5695 66.788C70.1183 68.4854 64.5915 69.9594 58.8827 70.8228C53.9936 71.5329 49.0575 71.8107 44.1016 71.0743C41.6984 70.743 39.4429 70.1127 37.245 69.0644C32.0116 66.4797 29.291 62.2716 29.1428 56.3952C29.0779 55.3216 29.2219 54.2767 29.2308 53.0535C28.3968 53.3112 27.7861 53.4932 27.1159 53.7202C21.1442 55.7185 14.9617 57.3151 8.716 58.2109C7.13613 58.4722 5.52563 58.5696 3.92951 58.5626C3.12426 58.6113 2.31717 58.2871 1.49568 58.0673C0.838118 57.817 0.432744 57.282 0.593022 56.5055C0.753288 55.7291 1.36398 55.5471 2.10979 55.5434C3.66086 55.4911 5.22632 55.3342 6.74676 55.1179C14.4083 53.9914 21.8267 51.9263 29.0486 49.3551C29.7187 49.128 30.3438 48.8416 30.5635 48.0201C33.1048 40.0123 37.7557 33.3068 43.3488 27.1039C51.0927 18.4292 60.0365 11.0911 70.0612 5.17968C73.4821 3.14914 76.9642 1.44648 80.8679 0.547242C82.2983 0.212057 83.8187 -0.00424003 85.2509 0.0334811C88.8016 0.150301 90.7672 2.49747 90.4864 6.07883C90.2884 8.28746 89.5374 10.2601 88.4729 12.1896C86.5077 16.0179 83.8094 19.3724 80.8264 22.4748C75.1576 28.4544 68.6781 33.3639 61.6436 37.6646C53.0924 42.9273 44.0746 47.3272 34.7846 50.9976C33.7128 51.4354 33.0589 51.9309 33.05 53.1541C32.9978 54.6907 32.7818 56.258 32.8936 57.7641C33.1785 61.104 34.8613 63.5719 37.778 65.1984C39.7525 66.3224 41.8585 66.8789 44.0527 67.1813C47.7998 67.8044 51.5433 67.6816 55.3155 67.3498C63.3068 66.5349 71.0386 64.5131 78.6334 61.94C79.3036 61.7129 79.7647 61.4571 80.0745 60.7545C83.4572 53.9807 88.382 48.3777 93.8761 43.2791C99.8007 37.7607 106.266 32.9556 113.437 29.2062C116.19 27.7756 119.032 26.4639 122.057 25.7629C123.323 25.4584 124.68 25.2727 125.948 25.3411C129.067 25.5048 130.719 27.8087 129.883 30.7812C129.472 32.2153 128.808 33.561 127.994 34.8329C125.699 38.3496 122.64 41.2286 119.491 43.9887C109.301 52.6456 97.5469 58.7445 85.1297 63.4743C84.6829 63.6257 84.2812 63.8365 83.7894 63.9284C83.0148 64.141 82.5699 64.6653 82.3646 65.3823C81.9251 67.0253 81.3218 68.6989 81.1958 70.3851C80.7529 74.37 82.3349 77.5693 85.7758 79.6407C87.5414 80.7359 89.6185 81.5013 91.6651 82.1029C95.2501 83.1294 98.9503 83.3201 102.634 83.2424C110.375 83.085 117.9 81.4073 125.257 79.0143C127.64 78.3314 130.171 77.3494 132.852 76.4413ZM34.7357 47.1046C35.2275 47.0127 35.3914 46.982 35.6148 46.9064C36.0021 46.8 36.4038 46.5892 36.7911 46.4829C46.245 42.782 55.3367 38.2325 63.7816 32.5824C69.9369 28.48 75.7319 23.902 80.5666 18.1801C82.7318 15.6038 84.7925 13.0132 86.1794 9.9037C86.7395 8.54354 87.1502 7.10954 87.3518 5.64672C87.5391 4.28839 86.804 3.44176 85.3574 3.50852C84.0748 3.54465 82.7183 3.73031 81.4969 4.0943C77.2365 5.26379 73.4283 7.40063 69.6959 9.76086C61.577 14.9768 54.2833 21.1582 47.6652 28.2313C42.9764 33.2812 38.7217 38.6572 35.6795 44.8923C35.4886 45.5048 35.1337 46.148 34.7357 47.1046ZM138.715 73.6827C139.564 73.3206 140.13 73.0791 140.591 72.8233C142.435 71.7999 144.266 70.881 146.065 69.7982C152.565 65.9029 158.374 61.2204 163.133 55.2752C165.579 52.2052 167.622 48.9732 168.931 45.2675C169.387 43.8929 169.634 42.4896 169.776 41.0718C169.871 39.2217 169.048 38.629 167.214 38.8021C166.513 38.8652 165.798 39.0328 165.173 39.3193C163.58 40.058 161.883 40.7824 160.367 41.7445C154.88 45.247 150.367 49.7888 146.455 54.999C143.121 59.4904 140.534 64.3509 139.293 69.8762C139.03 71.0111 138.917 72.2199 138.715 73.6827ZM126.194 29.7403C126.103 29.6214 125.968 29.443 125.819 29.3692C125.059 29.4773 124.268 29.4216 123.553 29.5892C122.108 30.0288 120.559 30.4541 119.144 31.0577C112.357 33.955 106.351 38.1313 100.691 42.8876C95.5211 47.1791 90.7116 51.9462 86.7109 57.4104C86.3849 57.8446 86.1039 58.3382 85.8229 58.8318C86.5687 58.8282 87.2244 58.7056 87.745 58.4048C91.7928 56.4606 95.9162 54.7399 99.8289 52.6175C107 48.868 113.691 44.3602 119.466 38.768C121.426 36.9087 123.115 34.6928 124.745 32.5219C125.488 31.7724 125.795 30.6969 126.194 29.7403Z"
                                    fill="var(--px-heading)" fill-opacity="0.4" />
                            </svg>
                        </div>
                    </div>
                    <div class="hs-banner">
                        <img src="assets\img\1500x500.jpeg" title="" alt="">
                    </div>
                </div>
            </div>
        </section>
        <!-- End Home -->
        <!-- About -->
        <section id="about" data-scroll-index="1" class="section about-section">
            <div class="container">
                <div class="section-heading">
                    <h3>About me</h3>
                </div>
                <div class="row gy-4">
                    <div class="col-lg-5">
                        <div class="about-text">
                            Helping brands to stand out in the digital area. Together we will set the new status quo. No
                            nonsense, always on the cutting edge. The combination of my passion for design, code &
                            interaction positions me in a unique place in the web design world. I craft high-performing,
                            beautiful websites that are conversion-focused, brand-accurate, & people-friendly.
                        </div>
                        <div class="about-banner">
                            <img src="assets\img\1500x500.jpeg" title="" alt="">
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <ul class="about-count">
                            <li class="d-flex">
                                <div class="col-5 col-sm-6">
                                    <div class="counter">
                                        90<span>+</span>
                                    </div>
                                </div>
                                <div class="col-7 col-sm-6 ps-3">
                                    <h6>Projects</h6>
                                    <p>In publishing and graphic design, Lorem ipsum is a placeholder text .</p>
                                </div>
                            </li>
                            <li class="d-flex">
                                <div class="col-5 col-sm-6">
                                    <div class="counter">
                                        5k<span>+</span>
                                    </div>
                                </div>
                                <div class="col-7 col-sm-6 ps-3">
                                    <h6>Happy Clients</h6>
                                    <p>In publishing and graphic design, Lorem ipsum is a placeholder text .</p>
                                </div>
                            </li>
                            <li class="d-flex">
                                <div class="col-5 col-sm-6">
                                    <div class="counter">
                                        75<span>%</span>
                                    </div>
                                </div>
                                <div class="col-7 col-sm-6 ps-3">
                                    <h6>Technical Solutions</h6>
                                    <p>In publishing and graphic design, Lorem ipsum is a placeholder text .</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- End About -->
        <!-- Services -->
        <section class="section gray-bg" data-scroll-index="1">
            <div class="container">

                <div class="row gy-4 gx-xxl-5">
                    <div class="col-lg-4">
                        <div class="section-heading">
                            <h4>
                                Skills
                            </h4>
                        </div>
                        <div class="skill-section">
                            <div class="skill-row">
                                <div class="skill-icon">
                                    <i class="fab fa-html5"></i>
                                </div>
                                <div class="skill-col">
                                    <h6>HTML5</h6>
                                    <div class="skill-bar">
                                        <span class="skill-bar-in" role="progressbar" aria-valuenow="92"
                                            aria-valuemin="0" aria-valuemax="100"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="skill-row">
                                <div class="skill-icon">
                                    <i class="fab fa-wordpress"></i>
                                </div>
                                <div class="skill-col">
                                    <h6>Wordpress</h6>
                                    <div class="skill-bar">
                                        <span class="skill-bar-in" role="progressbar" aria-valuenow="92"
                                            aria-valuemin="0" aria-valuemax="100"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="skill-row">
                                <div class="skill-icon">
                                    <i class="fab fa-shopify"></i>
                                </div>
                                <div class="skill-col">
                                    <h6>Shopify</h6>
                                    <div class="skill-bar">
                                        <span class="skill-bar-in" role="progressbar" aria-valuenow="92"
                                            aria-valuemin="0" aria-valuemax="100"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="skill-row">
                                <div class="skill-icon">
                                    <i class="fab fa-magento"></i>
                                </div>
                                <div class="skill-col">
                                    <h6>Magento</h6>
                                    <div class="skill-bar">
                                        <span class="skill-bar-in" role="progressbar" aria-valuenow="92"
                                            aria-valuemin="0" aria-valuemax="100"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="skill-row">
                                <div class="skill-icon">
                                    <i class="fab fa-react"></i>
                                </div>
                                <div class="skill-col">
                                    <h6>React</h6>
                                    <div class="skill-bar">
                                        <span class="skill-bar-in" role="progressbar" aria-valuenow="92"
                                            aria-valuemin="0" aria-valuemax="100"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="section-heading">
                            <h4>
                                Education
                            </h4>
                        </div>
                        <ul class="aducation-box theme-bg">
                            <li>
                                <span class="dark-bg">2010-2012</span>
                                <h6>Graphic Designer</h6>
                                <p>International Design Institute</p>
                                <div class="icon">
                                    <i class="fa-solid fa-graduation-cap"></i>
                                </div>
                            </li>
                            <li>
                                <span class="dark-bg">2010-2012</span>
                                <h6>Graphic Designer</h6>
                                <p>International Design Institute</p>
                                <div class="icon">
                                    <i class="fa-solid fa-graduation-cap"></i>
                                </div>
                            </li>
                            <li>
                                <span class="dark-bg">2010-2012</span>
                                <h6>Graphic Designer</h6>
                                <p>International Design Institute</p>
                                <div class="icon">
                                    <i class="fa-solid fa-graduation-cap"></i>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-4">
                        <div class="section-heading">
                            <h4>
                                Experience
                            </h4>
                        </div>
                        <ul class="aducation-box dark-bg">
                            <li>
                                <span class="theme-bg">2012-2014</span>
                                <h6>Google Inc</h6>
                                <p>International Design Institute</p>
                                <div class="icon">
                                    <i class="fa-solid fa-briefcase"></i>
                                </div>
                            </li>
                            <li>
                                <span class="theme-bg">2014-2020</span>
                                <h6>Facebook Inc</h6>
                                <p>International Design Institute</p>
                                <div class="icon">
                                    <i class="fa-solid fa-briefcase"></i>
                                </div>
                            </li>
                            <li>
                                <span class="theme-bg">2020-Present</span>
                                <h6>Github</h6>
                                <p>International Design Institute</p>
                                <div class="icon">
                                    <i class="fa-solid fa-briefcase"></i>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Services -->
        <!-- Services -->
        <section id="services" data-scroll-index="2" class="section services-section">
            <div class="container">
                <div class="section-heading">
                    <h3>
                        skills & Services
                    </h3>
                </div>
                <div class="row gy-4">
                    <div class="col-sm-6 col-lg-4">
                        <div class="feature-box-01">
                            <div class="icon"><i class="bi bi-phone"></i></div>
                            <div class="feature-content">
                                <h5>Web Design</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="feature-box-01">
                            <div class="icon"><i class="bi bi-laptop"></i></div>
                            <div class="feature-content">
                                <h5>Development</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="feature-box-01">
                            <div class="icon"><i class="bi bi-triangle"></i></div>
                            <div class="feature-content">
                                <h5>SEO Marketing</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="feature-box-01">
                            <div class="icon"><i class="bi bi-distribute-vertical"></i></div>
                            <div class="feature-content">
                                <h5>Web Design</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="feature-box-01">
                            <div class="icon"><i class="bi bi-laptop"></i></div>
                            <div class="feature-content">
                                <h5>Development</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="feature-box-01">
                            <div class="icon"><i class="bi bi-globe2"></i></div>
                            <div class="feature-content">
                                <h5>SEO Marketing</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Services -->
        <!-- portfolio -->
        <section id="portfolio" data-scroll-index="3" class="section portfolio-section gray-bg">
            <div class="container">
                <div class="section-heading">
                    <h3>
                        <span>My Portfolio</span>
                    </h3>
                </div>
                <div class="lightbox-gallery">
                    <div class="portfolio-row">
                        <div class="row align-items-center g-0">
                            <div class="col-sm-6 col-lg-6">
                                <div class="portfolio-img">
                                    <img src="assets/img/project-1.jpg" title="" alt="">
                                    <a class="gallery-link" href="assets/img/project-1.jpg"><i
                                            class="bi-arrow-up-right-circle"></i></a>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-5 col-xxl-4 pt-4 pt-sm-0 mx-auto">
                                <div class="portfolio-text">
                                    <h6>Mobile App, App Design</h6>
                                    <h5>Mombo - Startup Agency and SaaS Template</h5>
                                    <p>I design and develop services for customers of all sizes, specializing in
                                        creating stylish, modern websites, web services and online stores</p>
                                    <div class="btn-bar">
                                        <a class="px_modal px-btn" href="#project_1">
                                            View Projects <i class="fa fa-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-row">
                        <div class="row align-items-center g-0 flex-row-reverse">
                            <div class="col-sm-6 col-lg-6">
                                <div class="portfolio-img">
                                    <img src="assets/img/project-2.jpg" title="" alt="">
                                    <a class="gallery-link" href="assets/img/project-2.jpg"><i
                                            class="bi-arrow-up-right-circle"></i></a>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-5 col-xxl-4 pt-4 pt-sm-0 mx-auto">
                                <div class="portfolio-text">
                                    <h6>Mobile App, App Design</h6>
                                    <h5>Mombo - Startup Agency and SaaS Template</h5>
                                    <p>I design and develop services for customers of all sizes, specializing in
                                        creating stylish, modern websites, web services and online stores</p>
                                    <div class="btn-bar">
                                        <a class="px_modal px-btn" href="#project_2">
                                            View Projects <i class="fa fa-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-row">
                        <div class="row align-items-center g-0">
                            <div class="col-sm-6 col-lg-6">
                                <div class="portfolio-img">
                                    <img src="assets/img/project-3.jpg" title="" alt="">
                                    <a class="gallery-link" href="assets/img/project-3.jpg"><i
                                            class="bi-arrow-up-right-circle"></i></a>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-5 col-xxl-4 pt-4 pt-sm-0 mx-auto">
                                <div class="portfolio-text">
                                    <h6>Mobile App, App Design</h6>
                                    <h5>Mombo - Startup Agency and SaaS Template</h5>
                                    <p>I design and develop services for customers of all sizes, specializing in
                                        creating stylish, modern websites, web services and online stores</p>
                                    <div class="btn-bar">
                                        <a class="px_modal px-btn" href="#project_3">
                                            View Projects <i class="fa fa-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End portfolio -->
        <!-- contactus -->
        <section id="contactus" data-scroll-index="4" class="section contactus-section gray-bg">
            <div class="container">
                <div class="section-heading">
                    <h3>
                        <span>get in touch</span>
                    </h3>
                </div>
                <div class="row gy-5">
                    <div class="col-lg-7 pe-xl-5">
                        <div class="contact-form">
                            <div class="contact-head">
                                <h4>Got Ideas? We've got the skills. Let's team up.</h4>
                                <p>Tell us more about yourself and what you're got in mind.</p>
                            </div>
                            <form id="contact-form" method="POST">
                                <div class="row gx-3 gy-4">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">First name</label>
                                            <input name="Name" id="name" placeholder="Name *" class="form-control"
                                                type="text">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">Your Email</label>
                                            <input name="Email" id="email" placeholder="Email *" class="form-control"
                                                type="email">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label class="form-label">Subject</label>
                                            <input name="Subject" id="subject" placeholder="Subject *"
                                                class="form-control" type="text">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="form-label">Your message</label>
                                            <textarea name="message" id="message" placeholder="Your message *" rows="6"
                                                class="form-control"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="send">
                                            <button class="px-btn w-100" type="button" value="Send"> Send
                                                Message</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-5 d-flex">
                        <div class="d-flex flex-column w-100">
                            <div class="contact-info">
                                <ul>
                                    <li>
                                        <div class="icon">
                                            <i class="bi-chat-left-dots-fill"></i>
                                        </div>
                                        <div class="text">
                                            <label>Chat to us</label>
                                            <p>Our friendly team is there to help. <span><a class="text-reset"
                                                        href="mailto:info@domainname.com">info@domainname.com</a></span>
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <i class="bi-compass"></i>
                                        </div>
                                        <div class="text">
                                            <label>Visit us</label>
                                            <p> Come say hello at our office HQ. <span>Warnwe Park Streetperrine, <br>
                                                    FL 33157 New York City</span></p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <i class="bi-phone"></i>
                                        </div>
                                        <div class="text">
                                            <label>Call us</label>
                                            <p>Mon-Fri from 8am to 5pm. <span>+01 (555) 000-0000</span></p>
                                        </div>
                                    </li>
                                </ul>
                                <div class="google-map mt-5">
                                    <div class="ratio ratio-21x9">
                                        <iframe
                                            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3151.840107317064!2d144.955925!3d-37.817214!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb6899234e561db11!2sEnvato!5e0!3m2!1sen!2sin!4v1520156366883"
                                            allowfullscreen=""></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End contactus -->
    </main>
    <!-- Main -->
    <!-- Snigle 1 -->
    <div id="project_1" class="px-modal mfp-hide">
        <div class="single-project-box">
            <div class="row align-items-start">
                <div class="col-lg-7">
                    <div class="row g-2">
                        <div class="col-6">
                            <img class="border" src="assets/img/project-2.jpg" title="" alt="">
                        </div>
                        <div class="col-6">
                            <img class="border" src="assets/img/project-3.jpg" title="" alt="">
                        </div>
                        <div class="col-6">
                            <img class="border" src="assets/img/project-4.jpg" title="" alt="">
                        </div>
                        <div class="col-6">
                            <img class="border" src="assets/img/project-1.jpg" title="" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 pt-4 pt-lg-0">
                    <h4>Website Design for Marketing Agency Startup</h4>
                    <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                        est laborum.</p>
                    <div class="about-content">
                        <ul>
                            <li class="d-flex">
                                <span class="col-4 col-lg-3">Type:</span>
                                <span>Website</span>
                            </li>
                            <li class="d-flex">
                                <span class="col-4 col-lg-3">Langages:</span>
                                <span>PHP, HTML, CSS, JS</span>
                            </li>
                            <li class="d-flex">
                                <span class="col-4 col-lg-3">Platform:</span>
                                <span>WordPress</span>
                            </li>
                            <li class="d-flex">
                                <span class="col-4 col-lg-3">Country:</span>
                                <span>USA</span>
                            </li>
                            <li class="d-flex">
                                <span class="col-4 col-lg-3">Live URL:</span>
                                <span>www.example.com</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Snigle 1 -->
    <!-- Snigle 2 -->
    <div id="project_2" class="px-modal mfp-hide">
        <div class="single-project-box">
            <div class="row align-items-start">
                <div class="col-lg-7">
                    <div class="row g-2">
                        <div class="col-6">
                            <img class="border" src="assets/img/project-2.jpg" title="" alt="">
                        </div>
                        <div class="col-6">
                            <img class="border" src="assets/img/project-3.jpg" title="" alt="">
                        </div>
                        <div class="col-6">
                            <img class="border" src="assets/img/project-4.jpg" title="" alt="">
                        </div>
                        <div class="col-6">
                            <img class="border" src="assets/img/project-1.jpg" title="" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 pt-4 pt-lg-0">
                    <h4>Website Design for Marketing Agency Startup</h4>
                    <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                        est laborum.</p>
                    <div class="about-content">
                        <ul>
                            <li class="d-flex">
                                <span class="col-4 col-lg-3">Type:</span>
                                <span>Website</span>
                            </li>
                            <li class="d-flex">
                                <span class="col-4 col-lg-3">Langages:</span>
                                <span>PHP, HTML, CSS, JS</span>
                            </li>
                            <li class="d-flex">
                                <span class="col-4 col-lg-3">Platform:</span>
                                <span>WordPress</span>
                            </li>
                            <li class="d-flex">
                                <span class="col-4 col-lg-3">Country:</span>
                                <span>USA</span>
                            </li>
                            <li class="d-flex">
                                <span class="col-4 col-lg-3">Live URL:</span>
                                <span>www.example.com</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Snigle 2 -->
    <!-- Snigle 3 -->
    <div id="project_3" class="px-modal mfp-hide">
        <div class="single-project-box">
            <div class="row align-items-start">
                <div class="col-lg-7">
                    <div class="row g-2">
                        <div class="col-6">
                            <img class="border" src="assets/img/project-3.jpg" title="" alt="">
                        </div>
                        <div class="col-6">
                            <img class="border" src="assets/img/project-2.jpg" title="" alt="">
                        </div>
                        <div class="col-6">
                            <img class="border" src="assets/img/project-4.jpg" title="" alt="">
                        </div>
                        <div class="col-6">
                            <img class="border" src="assets/img/project-1.jpg" title="" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 pt-4 pt-lg-0">
                    <h4>Website Design for Marketing Agency Startup</h4>
                    <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                        est laborum.</p>
                    <div class="about-content">
                        <ul>
                            <li class="d-flex">
                                <span class="col-4 col-lg-3">Type:</span>
                                <span>Website</span>
                            </li>
                            <li class="d-flex">
                                <span class="col-4 col-lg-3">Langages:</span>
                                <span>PHP, HTML, CSS, JS</span>
                            </li>
                            <li class="d-flex">
                                <span class="col-4 col-lg-3">Platform:</span>
                                <span>WordPress</span>
                            </li>
                            <li class="d-flex">
                                <span class="col-4 col-lg-3">Country:</span>
                                <span>USA</span>
                            </li>
                            <li class="d-flex">
                                <span class="col-4 col-lg-3">Live URL:</span>
                                <span>www.example.com</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Snigle 3 -->
    <!-- End All Snigle Projects -->
    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <div class="footer-info">
                <div class="footer-avatar">
                    <img src="assets/img/ranju.jpg" title="" alt="">
                </div>
                <h6>Muhammad Ranju </h6>
            </div>
            <ul class="nav social-link">
                <li>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fab fa-facebook"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fab fa-pinterest"></i></a>
                </li>
            </ul>
            <p class="copyright">© <%-new Date().getFullYear() %> copyright all right reserved by <a target="_blank"
                    href="https://github.com/muhammadranju">Muhammad Ranju</a></p>
        </div>
    </footer>
    <!-- End Footer -->
    <script src="../assets/js/jquery-3.5.1.min.js"></script>
    <script src="../assets/vendor/appear/jquery.appear.js"></script>
    <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/vendor/one-page/scrollIt.min.js"></script>
    <script src="../assets/js/custom.js"></script>
    <script src="../assets/js/dark-light.js"></script>
    <!-- end -->
</body>
<!-- Body End -->

</html>