    <ul class="main-menu">
        <li>
            <a data-scroll-nav="0" href="#home">
                Home
            </a>
        </li>
        <li>
            <a data-scroll-nav="1" href="#services">
                About
            </a>
        </li>
        <li>
            <a data-scroll-nav="2" href="#services">
                Services
            </a>
        </li>
        <li>
            <a data-scroll-nav="3" href="#work">
                Portfolio
            </a>
        </li>
        <li>
            <a data-scroll-nav="4" href="#contactus">
                Contact
            </a>
        </li>
    </ul>